---
---
{% include css/font-awesome.css %}
{% include css/base.css %}
{% include css/skeleton.css %}
{% include css/screen.css %}
{% include css/layout.css %}
{% include css/syntax.css %}

h1 a, h1 a:visited {
  color: black;
}

.projects {
  list-style-type: none;
  margin: 0;
}

.projects li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.projects li img {
  height: 180px;
  opacity: 0.6;
}

.projects a:hover img {
  opacity: 1;
}

img.project-inline {
  max-width: 400px;
  margin: 30px auto;
}

.project {
  margin-bottom: 60px;
}

.project img {
  float: left;
  width: 200px;
  max-height: 300px;
}

h1.title {
  color: black;
  font-size: 21px;
  font-weight: normal;
}

h2 {
  font-size: 18px;
}

#home .project h2 {
  margin-left: 250px;
  color: black;
  font-size: 21px;
}

.project p {
  margin-left: 250px;
}

nav {
  position: fixed;
  width: 200px;
}

nav h1 {
  text-align: left;
}

ul.links {
  list-style-type: none;
}

ul.links li {
  margin-bottom: 2px;
}
